body {
    font-family: 'Bai Jamjuree', sans-serif;
}
/* ----------------------CONTAINERS */
.container-hero-header {
    height: 100vh;
    background: no-repeat center center;
    background: url('../images/header-image.jpg ') no-repeat bottom right scroll;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
}

.container-country {
    background-color: #4e1f32;
}

.container-get-in-touch {
    height: 100vh;
    background: no-repeat center center;
    background: url('../images/header-image.jpg ') no-repeat bottom right scroll;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;

}

/* ----------------------HERO HEADER */
.hero-header-title h1 {
    color: #dedede;
    font-size: 10vw;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

#learn-more {
    color: #dedede;
    font-size: 2.5vh;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    font-family: 'Chakra Petch', sans-serif;
}

#learn-more p {
    position: relative;
    top: 20%;
}


#learn-more a {
    color: #dedede;
    text-decoration: none;
}

i {
    font-size:40px;
    vertical-align: middle;
    padding: 0 7px;
}
/* ///-------------------HERO HEADER */
/* ----------------------NAVBAR */
#navbar-brand-title {
    padding-left: 10px;
    color: #dedede;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
}

.navbar {
    background-color:  rgba(12, 12, 12, 0.6);
}

.nav-link {
    color: #dedede;
    font-weight: 600;
}

.navbar-toggler i {
    color: #dedede;
    font-size: x-large;
}

.active, .nav-item:hover {
    text-decoration: underline;
}

a:hover {
    color: #dedede;
}
/* ///-------------------NAVBAR */
/* ----------------------COUNTRY-SECTION */
.section-title {
    text-align: center;
    color: #dedede; 
    font-family: "Chakra Petch", sans-serif; 
    padding-top: 5%;
    padding-bottom: 2%;  
}

.section-title h2 {
    font-size: 10vw;
    font-weight: bold;
}

.country-card {
    background: linear-gradient(135deg, rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.9));
    box-shadow: 0 2px 4px 0 white;
    margin: 10px 0;
    min-height: 120px;
    color: #dedede;
    border-radius: 7%;
}

.country-card h4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 9vw;
    text-align: right;
    float: right;
    position: relative;
    padding-top: 7%;
    padding-right: 5%;
}

.img-fluid {
    position: relative;
    left: 5%;
    padding: 15px 0;
    width: 25vw;
}
/* ///-------------------COUNTRY-SECTION */
/* ----------------------FESTIVAL CARDS */
.festival-card {
    background: linear-gradient(135deg, rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.9));
    box-shadow: 0 2px 4px 0 white;
    margin: 10px 0;
    min-height: 120px;
    color: white;
    border-radius: 7%;
    display: none;
}

.festival-card p{
    margin-right: 5%;
    margin-left: 5%;
    min-height: 95px;
}

.festival-card h4 {
    padding: 5% 5% 0;
    font-family: 'Chakra Petch', sans-serif;
}

.img-fluid {
    max-width: 90%;
    position: relative;
    left: 5%;
    padding: 15px 0;
    height: 215px;
    width: 245px;
}

.festival-card hr {
    margin: 0;
    width: 80%;
    position: relative;
    left: 10%;
}
/* ///-------------------FESTIVAL CARDS */
/* ----------------------FESTIVAL BUTTONS */
/* ----------------------TEAM BUTTONS */
.btn-primary {
    background-color: #e78ba8;
    color: #4e1f32;
    border-color: #dedede;
}

.festival-buttons a {
    color: #4e1f32;
    text-decoration: none;
}

#festival-buttons {
    color: #4e1f32;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* ///-------------------FESTIVAL BUTTONS */
/* -------------------MAPS */
div#belgium-map {min-height: 360px;}

/* ///-------------------MAPS */

/* ----------------------FOOTER SECTION */
footer {
    background: #e78ba8;
    color: #4e1f32;
    min-height: 60px;
    padding-top: 3%;
}

footer h5 {
    padding: 10px 0;
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 12px;
}

footer i{
    font-size: 16px;
    padding-left: 0;
}

.social-links {
    font-size: 25px;
    color: #00413F;
}

.social-links a {
    color: #4e1f32;
}

.copyright {
    margin: 10px 0;
}

#phone-number {
    color: #4e1f32;
    text-decoration: none;
}

/* ///-------------------FOOTER SECTION */
/* ----------------------GET IN TOUCH SECTION */
.get-in-touch{
    color: #dedede;
    font-size: 180%;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    margin-top: 15%;
}

.form-control {
    margin: 20px 0;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #4e1f32;
    color: #FFFFFF;
    border: 1px solid #dedede;
}

.submit-button {
    background-color: #e78ba8;
    color: #4e1f32;
    border: 1px solid #4e1f32;
    font-weight: 900;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* ///-------------------GET IN TOUCH SECTION */